@import "./typography/typography";
$background-color-dark: #1f1d2b;
$primary-color: #ea7c69;
$secondary-color: #3cbb6e;
$secondary-light-color: rgb(112, 210, 148);
$form-bg: #2d303e;
$text-light: #abbbc2;
$text-navy: #5b658e;
$svg-color: #707b83;
$white: #fff;
$border-radius: 0.5rem;
$xs: 396;
$sm: 484;
$md: 576;
$lg: 768;
$xl: 960;
