@import "../../styles/variables";
.imageGrid {
  grid-column: 1/-1;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 2rem 4rem;
  &-item {
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
      height: 100%;
      border-radius: calc($border-radius * 5);
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--left {
        &--title {
          font-size: $font-size-h4;
          font-weight: 600;
        }
        &--artist {
        }
      }
      &--right {
        &--addToQueue {
          svg {
            width: 2.5rem;
            height: auto;
          }
        }
      }
    }
  }
}
