@import "../../styles/variables";
.form {
  &__label {
    &-upload {
      &--svg {
        width: 2.4rem;
        height: auto;
      }
    }
  }
  &__input {
    &-container {
      border: $border-radius;
      &--input {
        width: 100%;
        outline: none;
        padding: 0.75rem 1.25rem;
      }
    }
    &-upload {
      display: none;
    }
  }
  &__details {
    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  &__genre {
    margin-top: 1rem;
  }
}
