@import '../../styles/variables';
.imageGrid {
  grid-column: 1/-1;
  padding: 2rem;
  display: grid;
  flex-direction: column;
  gap: 2rem 4rem;
  &-item {
    overflow: hidden;
    display: flex;
    transition: all 1s ease;
    &--disableHover &--play {
      animation: none !important;
    }

    img {
      width: 6rem;
      height: 6rem;
      border-radius: calc($border-radius * 3);
      &:hover {
        transform: scale(1.05);
      }
    }

    &--play {
      z-index: 1000;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 2rem;
      transition: opacity 0.2s ease-in;
      animation: 0.5s hoverOut;
      opacity: 0;
      width: 0;
      overflow: hidden;
      color: $svg-color;
      svg {
        fill: currentColor;
        stroke: currentColor;
        width: 2rem;
        height: 2rem;
      }
      &:hover {
        color: $secondary-light-color;
      }
      &--playing {
        width: auto;
        opacity: 1;
        color: $secondary-light-color;
      }
    }
    &:hover &--play {
      opacity: 1;
      width: auto;
      animation: 0.5s hoverIn;
    }

    &__wrapper {
      width: 100%;
      margin-left: 2rem;
      display: grid;
      grid-template-columns:
        minmax(10rem, 25rem) 1fr
        minmax(10rem, 1fr);
      align-items: center;
      &--left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &--title {
          font-size: $font-size-h4;
          font-weight: 600;
        }
        &--artist {
        }
      }
      &--middle {
        display: flex;
        align-items: center;
        gap: 4rem;
        &--like {
          cursor: pointer;
          transition: all 0.2s ease;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      &--right {
        margin-left: auto;
        display: flex;
        gap: 3rem;
        align-items: center;
        &--addToQueue {
          svg {
            width: 2.5rem;
            height: auto;
          }
        }
      }
    }
  }
}

@keyframes hoverIn {
  from {
    width: 0;
  }
  to {
    width: 2rem;
  }
}

@keyframes hoverOut {
  from {
    width: 2rem;
  }
  to {
    width: 0;
  }
}
