@import "../../styles/variables";
.sidebar {
  grid-column: sidebar-start / sidebar-end;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: $secondary-light-2-color;
  padding: 4rem 0 2rem 0;
  align-items: center;
  &__logo {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    &-svg {
      margin-right: 0.75rem;
      svg {
        fill: $tertiary-color;
        height: 4rem;
        width: auto;
        path {
          height: 4rem;
          width: auto;
        }
      }
    }
    &-text {
      color: $tertiary-color;
      font-size: $font-size-h2;
      font-family: $font-secondary;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: -0.05rem;
    }
  }
  &__content {
    &-head {
      color: $text-color;
      // color: #717171;
      margin-bottom: 1.5rem;
    }
    & > * {
      margin-bottom: 2.5rem;
    }
  }
}

.sidebarItem {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  color: $tertiary-color;
  cursor: pointer;
  &--selected {
    position: relative;
    // color: $tertiary-color;
    &::before {
      content: "";
      position: absolute;
      background-color: $secondary-light-color;
      width: 0.5rem;
      height: 100%;
      left: -3rem;
      display: block;
    }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   // background: rgb(112, 210, 148);
    //   background: linear-gradient(
    //     90deg,
    //     rgba(112, 210, 148, 1) 20%,
    //     rgba(237, 237, 237, 1) 100%
    //   );
    //   width: calc(100% + 2.5rem);
    //   height: 100%;
    //   left: -2.5rem;
    //   display: block;
    //   z-index: -1;
    // }
  }
  &__svg {
    margin-right: 2rem;
    svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.25rem;
      height: 2.25rem;
    }
  }
}
