@import "../../styles/variables";
.sidebar {
  grid-column: sidebar-start / sidebar-end;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  padding: 2rem 0 2rem 3rem;
  &__logo {
    margin-bottom: 4rem;
    &-text {
      color: $secondary-color;
      font-size: $font-size-h2;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: -0.05rem;
    }
  }
  &__content {
    &-head {
      color: #717171;
      margin-bottom: 1.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
    }
    & > * {
      margin-bottom: 2.5rem;
    }
  }
}

.sidebarItem {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  color: $text-navy;
  cursor: pointer;
  &--selected {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: #3dae6d;
      width: 0.5rem;
      height: 100%;
      left: -3rem;
      display: block;
    }
    &::after {
      content: "";
      position: absolute;
      background: rgb(112, 210, 148);
      background: linear-gradient(
        90deg,
        rgba(112, 210, 148, 1) 20%,
        rgba(237, 237, 237, 1) 100%
      );
      width: 100%;
      height: 100%;
      left: -2.5rem;
      display: block;
      z-index: -1;
    }
  }
  &__svg {
    margin-right: 2rem;
    svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.25rem;
      height: 2.25rem;
    }
  }
}
