$font-size-h1: 2.75rem;
$font-size-h2: 2.25rem;
$font-size-h3: 1.8rem;
$font-size-h4: 1.6rem;
$font-size-h5: 1.2rem;
$font-size-h6: 1rem;
$font-size-p: 1.4rem;
$letter-spacing: 0.03rem;
$font-secondary: "Poppins", sans-serif;
// $font-secondary: "Montserrat", sans-serif;
