@import "./styles/variables";
@import "./styles/typography/typography";
.app {
  height: 100%;
  position: fixed;
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    height: 0;
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}
